<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandip Chaudhary</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://picturepan2.github.io/spectre/dist/docs.min.css">
</head>

<body>

    <div id="app">
        <div class="loading loading-lg"></div>


        <div class="section section-hero bg-gray">
            <div class="grid-hero container grid-lg text-center" id="overview">
                <div class="docs-brand"><a class="docs-logo" href="index.html"><img
                            src="https://picturepan2.github.io/spectre/img/spectre-logo.svg"
                            alt="Spectre.css CSS Framework">
                        <h2>SPECTRE</h2>
                    </a></div>


                <!-- <img :src="profile_image" class="s-circle" alt="Profile Image"> -->
                <div class="s-circle">
                    <img :src="profile_image" class="s-circle" alt="Profile Image">
                </div>
                <h2>A
                    <u>Lightweight</u>,
                    <u>Responsive</u> and
                    <u>Modern</u> CSS Framework
                </h2>
                <p><a class="btn btn-primary btn-lg mr-2" href="getting-started.html">Docs</a><a
                        class="btn btn-primary btn-lg" href="https://github.com/picturepan2/spectre"
                        target="_blank">GitHub</a></p>
                <p class="text-gray">Latest version: <span class="version"></span></p>
                <div class="columns">
                    <div class="column col-4 col-xs-12">
                        <div class="card text-center">
                            <div class="card-header"><span class="card-title">Lightweight</span></div>
                            <div class="card-body">Lightweight (~10KB gzipped) starting point for your projects</div>
                        </div>
                    </div>
                    <div class="column col-4 col-xs-12">
                        <div class="card text-center">
                            <div class="card-header"><span class="card-title">Responsive</span></div>
                            <div class="card-body">Flexbox-based, responsive and mobile-friendly layout</div>
                        </div>
                    </div>
                    <div class="column col-4 col-xs-12">
                        <div class="card text-center">
                            <div class="card-header"><span class="card-title">Modern</span></div>
                            <div class="card-body">Elegantly designed and developed elements and components</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="row">
            <div class="header">
                <div class="header__container">
                    <img :src="profile_image" class="header__image" alt="Profile Image">
                    <p class="header__sub_title gradient_text">
                        Hi there, I am
                    </p>
                    <h1 class="header__title">
                        {{name}}
                    </h1>
                    <p class="header__description">
                        {{profile_content}}
                    </p>
                    <div class="header__social_icons">
                        <a class="header__social_icon" v-for="link in social_links" :href="link.url" target="_blank">
                            <img :src="link.image_link" alt="{{link.alt_text}}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Me -->
        <div class="row">
            <div class="about">
                <div class="about__container">
                    <div class="about__columns">
                        <div class="about__column">
                            <p class="about__subtitle gradient_text">
                                This is something
                            </p>
                            <h1 class="about__title">
                                About Me
                            </h1>
                            <p class="about__description" v-html="about_me">
                            </p>
                        </div>

                        <div class="about__column">
                            <img :src="about_image" class="about__cover" alt="{{about_image_alt_text}} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Section -->

        <div class="row">
            <div class="design">
                <div class="design__container">

                    <p class="design__subtitle">
                        Hope you like some
                    </p>
                    <h1 class="design__title">
                        Designs
                    </h1>
                    <div class="design__content">
                        <!-- Mansory Grid -->
                        <div class="grid-item" v-for="design in design_projects">
                            <a :href="design.link" target="_blank">
                                <img :src="design.image_source" alt="{{design.alt_text}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Project Section -->

        <div class="row">
            <div class="projects">
                <div class="projects__container">

                    <p class="projects__subtitle gradient_text">
                        These are my some
                    </p>
                    <h1 class="projects__title">
                        Projects
                    </h1>
                    <ul class="projects__list">


                        <li class="project" v-for="project in projects">
                            <div class="project__thumbnail">
                                <img :src="project.project_icon" alt="{{project.project_title}}">
                            </div>
                            <div class="project__content">
                                <h2 class="project__title">
                                    {{project.project_title}}
                                </h2>
                                <p class="project__description" v-html="project.project_description"></p>
                            </div>
                            <a :href="project.url" class="project__link" target="_blank">
                                <img src="images/arrow-right.svg" alt="{{project.project_title}}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Footer -->

        <div class="row">
            <div class="footer">
                <div class="footer__container">
                    <div class="footer__social_icons">
                        <a class="footer__social_icon" v-for="link in social_links" :href="link.url" target="_blank">
                            <img :src="link.image_link" alt="{{link.alt_text}}" />
                        </a>
                    </div>

                    <h1 class="footer__title gradient_text">
                        {{name}}
                    </h1>
                    <p class="footer__content">
                        made with <span class="heart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>

    </div>
    </div>


    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script src="js/script.js"></script>
</body>

</html>