<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="660bf8">
    <meta name="theme-color" content="660bf8">

    <title>Sandip Chaudhary</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">
        <div class="loader" id="loader">
        </div>
        <!-- Header -->
        <div class="row">
            <div class="header" id="header">

                <div class="header__container">
                    <img :src="profile_image" class="header__image" alt="Profile Image">
                    <h1 class="header__title">
                        {{name}}
                    </h1>
                    <p class="header__description">
                        {{profile_content}}
                    </p>
                    <div class="header__social_icons">
                        <a class="header__social_icon" v-for="link in social_links" :href="link.url" target="_blank">
                            <img :src="link.image_link" :alt="link.alt" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Me -->
        <div class="row">
            <div class="about" id="about">
                <div class="about__container">
                    <div class="about__columns">
                        <div class="about__column">
                            <h1 class="about__title">
                                About Me
                            </h1>
                            <p class="about__description" v-html="about_me">
                            </p>
                        </div>

                        <div class="about__column">
                            <img :src="about_image" class="about__cover" :alt="about_image_alt_text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Design Section -->

        <div class="row">
            <div class="design">
                <div class="design__container">
                    <h1 class="design__title">
                        Designs
                    </h1>
                    <div class="design__content">
                        <!-- Mansory Grid -->
                        <div class="grid-item" v-for="design in design_projects">
                            <a :href="design.link" target="_blank">
                                <img :src="design.image_source" :alt="design.alt_text">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Project Section -->

        <div class="row">
            <div class="projects">
                <div class="projects__container">
                    <h1 class="projects__title">
                        Projects
                    </h1>
                    <ul class="projects__list">


                        <li class="project" v-for="project in projects">
                            <div class="project__thumbnail">
                                <img :src="project.project_icon" :alt="project.project_title">
                            </div>
                            <div class="project__content">
                                <h2 class="project__title">
                                    {{project.project_title}}
                                </h2>
                                <p class="project__description block-ellipsis" v-html="project.project_description"></p>
                            </div>
                            <a :href="project.url" class="project__link" target="_blank">
                                <img src="images/arrow-right.svg" :alt="project.project_title">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Footer -->

        <div class="row">
            <div class="footer">
                <div class="footer__container">
                    <p class="footer__content">
                        Designed and built with <span class="heart">♥</span> by <b>{{name}}</b>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="js/script.js"></script>
</body>

</html>